<div class="panel-heading">
	<h3 class="text-center">{{title}}</h3>
	<!-- If we passed a value for number, we show that number, otherwise we show three dots -->
	<h1 class="text-center">{{if number number '...'}}</h1>
</div>